@media screen and (min-width: 768px) {
    .img-principal{
        width: 50%;
    }
    .section-right{
        width: 50%;
        display: flex;
        flex-direction: column;
    }
    .colores{
        padding-top: 20px;
        width: 100%;
    }
    .talles{
       margin-top: 10px;
       width: 100%;
    }
    .quantity{
       margin-top: 10px;
       width: 100%;
    }
    .imagenes-pequeñas{
        display: none;
    }
    form{
        display: flex;
        flex-grow: 1;
        flex-direction: column;
    }
    .form-boton{
        flex-grow: 1;
        display: flex;
        align-items: flex-end;
        margin: 0;
    }
    .detalle-titulo{
        margin-top: 20px;
        margin-bottom: 5px;
    }
    .descripcion{
        display: block;
    }
}