@media (min-width: 768px) {
    .boton-carrito{
        display: none;
    }
    .img-principal{
        width: 50%;
    }
    .section-right{
        width: 50%;
        display: flex;
        flex-direction: column;
    }
    .colores{
        padding-top: 20px;
    }
    .talles{
       margin-top: 10px;
    }
    .quantity{
       margin-top: 10px;
    }
    .boton-carrito1{
        display: flex;
        justify-content: start;
        align-items: flex-end;
        width: 100%;
        padding: 10px 5px;
        flex-grow: 1;
    }
    .boton-carrito1 nav{
        display: flex;
        justify-content: center;
        width: 90%;
        height: 40px;
        background-color: #d9d9d9;
        font-weight: 600;
    }
    .boton-carrito1 nav a{
        display: flex;
        justify-content: center;
        align-items: center;
        color: #000;
        text-decoration: none;
        width: 100%;
        height: 100%;
    }
    .detalle-titulo{
        margin-top: 20px;
        margin-bottom: 5px;
    }
}