*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
main{
    display: flex;
    flex-wrap: wrap;
    font-family: 'Montserrat', sans-serif;
    margin-top: 140px;
    width: 100%;
    padding-bottom: 50px;
    padding: 10px;
    margin-bottom: 80px;
}
.imagenes-pequeñas{
    display: flex;
    flex-wrap: wrap;
    order: 1;
    width: 100%;
}
.descripcion1{
    display: none;
}
.imagenes-pequeñas figure{
    width: 33.3%;
    padding: 5px;
}
.imagenes-pequeñas img{
    width: 100%;
}
.img-principal{
    order: -2;
    width: 100%;
}
.img-principal figure{
    padding: 12px 12px 0;
}
.img-principal img{
    width: 100%;
    height: 100%;
}
.info{
    order: -1;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    width: 100%;
}
.info h2{
    text-align: start;
    margin: 0px 5px;
    font-size: 22px;
    width: 80%;
    align-self: center;
}
.precio{
    width: 100%;
    color: red;
    font-size: 20px;
    margin-top: 20px;
}
.descuento{
    margin-left: 5px;
}
.precio1{
    text-decoration: line-through;
}
.descripcion{
    order: 1;
    padding-bottom: 15px;
}
.boton-carrito{
    order: 2;
}
form fieldset{
    border: none;
}
.colores{
    padding: 10px;
    border-top: 1px solid #909090;
}
.colores label{
    font-weight: 600;
    display: block;
    margin-bottom: 5px;
}
.colores button{
    background-color: #ffffff;
    padding: 2px 2px 0px;
}
.colores button img{
    border: 1px solid #909090;
}
.talles{
    padding: 10px;
    border-top: 1px solid #909090;
}
.talles label{
   font-weight: 600;
   display: block;
   margin-bottom: 5px;
}
.talles button{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #ffffff;
    border-color: #909090;
}
.quantity{
    width: 100%;
    padding: 10px;
    border-top: 1px solid #909090;

}
.quantity p{
    width: 100%;
    margin-bottom: 5px;
    font-weight: 600;
}
.quantity select{
    width: 100px;
    height: 35px;
    border-radius: 2px;
    background-color: #ffffff;
    cursor: pointer;
}
.detalle-titulo{
    padding: 10px 10px 0;
    font-weight: 600;
}
.detalle{
    text-align: justify;
    padding: 10px
}
.form-boton{
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    padding: 10px;
}
.form-boton button{
    background-color: #d9d9d9;
    height: 50px;
    padding: 10px;
    border: 1px solid #909090;
    font-weight: 600;
    width: 90%;
}
.corazon{
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.heart2{
    color: red;
    font-size: 20px;
}
.section-right{
    width: 100%;
}
@media screen and (min-width: 450px) {
    .boton-carrito{
        display: flex;
        justify-content: center;
        width: 100%;
        padding: 10px 5px;
    }
    .boton-carrito button{
        width: 90%;
        height: 40px;
        background-color: #d9d9d9;
        border: none;
        font-weight: 600;
    }
}
@media screen and (min-width: 600px) {
    .heart2{
        font-size: 25px;
    }
}