*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
main{
    display: flex;
    flex-wrap: wrap;
    font-family: 'Montserrat', sans-serif;
    margin-top: 140px;
    width: 100%;
    padding-bottom: 50px;
}
.imagenes-pequeñas{
    display: none;
}
.img-principal{
    order: -2;
    width: 100%;
}
.img-principal figure{
    padding: 12px 12px 0;
}
.img-principal img{
    width: 100%;
}
.info{
    order: -1;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    width: 100%;
}
.info h2{
    text-align: start;
    margin: 0px 5px;
    font-size: 22px;
    width: 80%;
    align-self: center;
}
.precio{
    width: 100%;
    color: red;
    font-size: 20px;
    margin-top: 20px;
}
.descuento{
    margin-left: 5px;
}
.precio1{
    text-decoration: line-through;
}
.descripcion{
    order: 1;
    padding-bottom: 15px;
}
.boton-carrito{
    order: 2;
}
.colores{
   padding: 10px;
   width: 100%;
   border-top: 1px solid #909090;
   margin: 10px 0 0;
   display: flex;
}
.colores nav{
    margin-right: 5px;
    border: 1px solid #909090;
}
.colores img{
    width: 100%;
    height: 100%;
}
.talles{
    display: flex;
    width: 100%;
    padding: 10px;
}
.talles a{
    color: #000;
    text-decoration: none;
    cursor: pointer;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.talles a:target .talles{
    border: 1px solid #000;
}
.talles nav{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #909090;
    background-color: #ffffff;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    margin-right: 5px;
}
.quantity{
    width: 100%;
    padding: 10px;
}
.quantity p{
    width: 100%;
    margin-bottom: 3px;
    font-weight: 600;
}
.quantity select{
    width: 100px;
    height: 35px;
    border-radius: 2px;
    background-color: #ffffff;
    cursor: pointer;
}
.detalle-titulo{
    padding: 10px 10px 0;
    font-weight: 600;
}
.detalle{
    text-align: justify;
    padding: 10px
}
.boton-carrito1{
    display: none;
}
.boton-carrito{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 10px 5px;
}
.boton-carrito nav{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 40px;
    background-color: #d9d9d9;
    font-weight: 600;
}
.boton-carrito nav a{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
    text-decoration: none;
    width: 100%;
    height: 100%;
}
.corazon{
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.heart2{
    color: red;
    font-size: 20px;
}
.section-right{
    width: 100%;
}
@media screen and (min-width: 450px) {
    .boton-carrito{
        display: flex;
        justify-content: center;
        width: 100%;
        padding: 10px 5px;
    }
    .boton-carrito button{
        width: 90%;
        height: 40px;
        background-color: #d9d9d9;
        border: none;
        font-weight: 600;
    }
}
@media screen and (min-width: 600px) {
    .heart2{
        font-size: 25px;
    }
}