@media (min-width: 64em) {
    .header-logo a {
        margin-left: 25px;
    }

    #menu-1:target {
        left: 25vw;
        width: 50%;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas:
            "element1 element1 element1 element1"
            "element3 element7 element5 element6"
            "element4 element8 . ."
    }
}

@media (min-width: 80em) {

    .header-icon {
        margin-right: 20px;
    }

    .header-form form {
        width: 387.3px;
    }

    .header-form form fieldset {
        width: 387.3px
    }

    .header-form form input {
        max-width: 387.3px;
    }

}