@media (min-width: 1024px) {
    .header-logo a {
        margin-left: 25px;
    }

    .header-icon {
        margin-right: 25px;
    }

    #menu-1:target {
        width: 40%;
        left: 30%;
    }
}

@media (min-width: 1280px) {
    .header-logo a img {
        position: absolute;
        width: 80px;
        height: 80px;
        top: 4px;
        z-index: 8;
    }
}