* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

@media screen and (min-width: 48em) {
    .header-bars {
        display: none;
    }

    header {
        padding: 0px;
        display: flex;
        justify-content: space-between
    }

    .header-logo {
        display: flex;
        align-items: center;
        width: 20%;
        justify-content: start;
        margin-bottom: 12px;
        margin-left: 8px;
        margin-top: 12px;
    }

    .header-logo img {
        width: 70px;
        height: 100%;
    }

    .header-bottom {
        order: 0;
        width: 100%;
        border-top: 1px solid #909090;
    }

    .navbar-main {
        display: flex;
    }

    .navbar-main a {
        color: #000;
        text-decoration: none;
        padding: 10px 15px;
        display: block;
        font-weight: 700;
        font-size: 13px;
    }

    #menu-1 {
        display: none;
    }

    #menu-1 a {
        color: #000;
        text-decoration: none;
        padding: 12px;
        border: none;
        width: 120px;
    }

    #menu-1:target {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        position: fixed;
        top: 126px;
        left: 25%;
        background-color: #F4F6F8;
        border: 1px solid #909090;
        width: 50%;
        height: auto;
        border-top: none;
    }

    #menu-1 :first-child {
        width: 100%;
    }

    .menu-bottom {
        display: none;
    }

    .header-form {
        order: 0;
        display: flex;
        width: 50%;
        justify-content: flex-end;
        margin-top: 0px;
        align-items: center;
        justify-items: end;
    }

    .header-form form {
        width: 100%;
        position: relative;
        bottom: 0px;
    }

    .header-form input {
        width: 100%;
    }

    .header-icon {
        width: 20%;
        margin-right: 5px;
    }

    .header-bottom {
        display: flex;
        justify-content: center;
        position: relative;

    }

    .salirIcon {
        display: block
    }
}

@media screen and (min-width: 58.125em) {
    .header-logo {
        position: relative;
        width: 50%;
    }

    .header-form {
        width: 30%;
    }

    .header-icon {
        width: 15%;
    }

    .header-logo a img {
        position: absolute;
        width: 80px;
        height: 80px;
        top: -8px;
        z-index: 8;
    }

}