*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
@media screen and (min-width: 768px){
    .header-bars{
        display: none;
    }
    header{
        padding: 0px;
    }
    .header-logo{
        display: flex;
        align-items: center;
        width: 55%;
        justify-content: start;
        margin-bottom: 12px;
        margin-left: 8px;
        margin-top: 12px;
    }
    .header-logo img{
        width: 70px;
        height: 100%;
    }
    .header-bottom{
        order: 0;
        width: 100%;
        border-top: 1px solid #909090;
    }
    .header-form{
        order: 0;
        display: flex;
        width: 30%;
        justify-content: center;
        margin-top: 0px;
        align-items: center;
    }
    .header-form form{
        width: 100%;
        position: relative;
        bottom: 0px;
    }
    .header-icon{
        width: 75px;
        margin: 0 12px 0 12px;
    }
    .header-icon nav{
        margin: 0px;
        flex-basis: 100%;
    }
    .header-bottom{
        display: flex;
        justify-content: center;
        position: relative;
        
    }
    .header-bottom ul{
        list-style: none;
    }
    .header-bottom ul li a{
        color: #000;
        text-decoration: none;
        padding: 10px 15px;
        display: block;
        font-weight: 700;
        font-size: 13px;
    }
    .header-bottom ul li{
        float: left;
    }
    .header-bottom ul li ul{
        display: none;
        position: absolute;
        min-width: 140px;
        background-color: #F4F6F8;
        width: 80%;
        left: 10%;
        right: 10%;
    }
    .header-bottom ul li ul a{
        font-weight: 300;
        color: #676767;
        display: block;
    }
    .header-bottom li:hover > ul{
        display: block;
    }
}