@media (min-width: 64em) {
    .header-logo a {
        margin-left: 25px;
    }

    #menu-1:target {
        width: 40%;
        left: 30%;
    }
}

@media (min-width: 80em) {

    .header-icon {
        margin-right: 20px;
    }

    .header-form form {
        width: 387.3px;
    }

    .header-form form fieldset{
        width: 387.3px
    }

    .header-form form input{
        max-width: 387.3px;
    }

}