* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

main {
    font-family: 'Montserrat', sans-serif;
    margin-top: 105px;
}

.banner {
    display: flex;
    align-items: flex-end;
}

.Imagen-Zaphir {
    width: 100%;
}

.banner-bottom {
    display: flex;
    flex-direction: column;
}

.banner-bottom i {
    color: #909090;
    margin-right: 10px;
}

.banner-bottom p {
    color: #fff;
}

.p-title {
    font-weight: 700;
}

.banner-bottom {
    background-color: #171717;
}

.banner-bottom section {
    padding: 20px;
}

.titulo {
    padding: 10px;
    text-align: center;
}

.imagenDest {
    width: 100%;
    padding: 10px;
}

.productosdestacados {
    display: flex;
    flex-wrap: wrap;
}

.productosdestacados article {
    border-bottom: 1px solid #909090;
    margin-top: 10px;
    margin-bottom: 20px;
}

.productos {
    margin: 10px;
}

article {
    display: inline-block;
    text-align: center;
    height: 100%;
}

.precio {
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 10px;
}

.JeansPalabra {
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-color: #ebebeb;
    font-size: 20px;
    width: 100px;
    height: 25px;
}

.remeraspalabra {
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-color: #ebebeb;
    font-size: 20px;
    width: 110px;
    height: 25px;
}

.buzosPalabra {
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-color: #ebebeb;
    font-size: 20px;
    width: 100px;
    height: 25px;
}

.camperasPalabra {
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-color: #ebebeb;
    font-size: 20px;
    width: 120px;
    height: 25px;
}

.pantalonesPalabra {
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-color: #ebebeb;
    font-size: 20px;
    width: 145px;
    height: 25px;
}

.contenedor {
    position: relative;
    width: 100%;
}

.secciones {
    display: flex;
    flex-direction: column;

}

.jeans {
    width: 100%;
    padding: 10px;
    border: 1px solid #909090
}

.remeras {
    width: 100%;
    padding: 10px;
    border: 1px solid #909090
}

.buzos {
    width: 100%;
    padding: 10px;
    border: 1px solid #909090
}

.camperas {
    width: 100%;
    padding: 10px;
    border: 1px solid #909090
}

.pantalones {
    width: 100%;
    padding: 10px;
    border: 1px solid #909090
}

.section-categorias {
    text-align: center;
    margin: 40px 10px 30px;
}

.a-wts {
    position: fixed;
    right: 30px;
    bottom: 30px;
    border-radius: 100%;
}

.a-wts img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    padding: 5px;
    background-color: #1bd741
}

@media screen and (min-width: 425px) {
    .productos {
        width: 50%;
    }

    .productosdestacados article {
        max-width: 425px;
        margin: auto;
    }

    .secciones {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .section-categorias {
        width: 100%;
        margin-top: 40px;
    }

    .productos {
        width: 45%;
    }

    .secciones {
        justify-content: space-between;
    }

}