@media (min-width: 1024px){
    .secciones{
        justify-content: start;
    }
    .jeans{
        height: 100%;
    }
    .contenedor-jeans{
        background-color: aqua;
    }
    .productosdestacados{
        justify-content: space-between;
    }
    .productosdestacados article{
        width: 23%;
        margin: 5px;
    }
    .productos{
        
    }
    .secciones article > article{
        background-color: aqua;
    }
    
}