* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

main {
    font-family: 'Montserrat', sans-serif;
    margin-top: 105px;
}

.banner {
    display: flex;
    align-items: flex-end;
}

.Imagen-Zaphir {
    width: 100%;
    height: 100vh;
    object-fit: cover
}

.banner-bottom {
    display: flex;
    flex-direction: column;
}

.banner-bottom i {
    color: #909090;
    margin-right: 10px;
}

.banner-bottom p {
    color: #fff;
}

.p-title {
    font-weight: 700;
}

.banner-bottom {
    background-color: #171717;
}

.banner-bottom section {
    padding: 20px;
}

.titulo {
    padding: 10px;
    text-align: center;
}

.imagenDest {
    width: 100%;
    padding: 10px;
}

.productosdestacados {
    display: flex;
    flex-wrap: wrap;
}

.productosdestacados article {
    border-bottom: 1px solid #909090;
    margin-top: 10px;
    margin-bottom: 20px;
}


article {
    display: inline-block;
    text-align: center;
    height: 100%;
    position: relative;
    margin: 10px;
}

.precio {
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 10px;
}

.palabra {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    color: #000;
    font-size: 20px;
    font-weight: 500;
    border: 0;
    transform: translate(-50%, -50%);
}

.palabra p {
    width: auto;
    padding: 5px;
    background-color: #ebebeb;
}

.jeans {
    width: 100%;
    padding: 10px;
    border: 1px solid #909090
}

.remeras {
    width: 100%;
    padding: 10px;
    border: 1px solid #909090
}

.buzos {
    width: 100%;
    padding: 10px;
    border: 1px solid #909090
}

.camperas {
    width: 100%;
    padding: 10px;
    border: 1px solid #909090
}

.pantalones {
    width: 100%;
    padding: 10px;
    border: 1px solid #909090
}

.section-categorias {
    text-align: center;
    margin: 4rem 0 2rem;
}

.a-wts {
    position: fixed;
    right: 30px;
    bottom: 30px;
    border-radius: 100%;
}

.a-wts img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    padding: 5px;
    background-color: #1bd741
}

@media screen and (min-width: 36em) {

    .productosdestacados article {
        max-width: 425px;
        margin: auto;
    }

    .secciones{
        margin-bottom: 3rem;
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(4, 1fr);
        grid-template-areas:
        "element1 element1 element2 element2 element3 element3"
        "element1 element1 element2 element2 element3 element3"
        ". element4 element4 element5 element5 ."
        ". element4 element4 element5 element5 ."
    }

    .article_item1 {
        grid-area: element1;
    }

    .article_item2 {
        grid-area: element2;
    }

    .article_item3 {
        grid-area: element3;
    }

    .article_item4 {
        grid-area: element4;
    }


    .article_item5 {
        grid-area: element5;
    }
}