@media screen and (min-width: 768px) {
    .banner-bottom {
        flex-direction: row;
    }

    .banner-bottom section {
        width: 33.3%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;

    }

    .productosdestacados {
        flex-direction: row;
        padding: 5px;
    }

    .productosdestacados article {
        width: 25%;
        margin: 0;
        height: 100%;
    }

    .titulo {
        margin: 20px 0 20px;
    }

    .secciones {
        justify-content: space-evenly;
    }

    .productos {
        width: 25%;
    }

}