@media screen and (min-width: 48em) {
    .banner-bottom {
        flex-direction: row;
    }

    .banner-bottom section {
        width: 33.3%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;

    }

    .productosdestacados {
        padding: 1em;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: auto;
        column-gap: .50em;
    }

    .titulo {
        margin: 20px 0 20px;
    }

}