@media (min-width: 1024px) {
    .titulo {
        margin-top: 4rem
    }

    .section-categorias {
        margin-top: 10rem
    }

    .secciones {
        justify-content: space-between;
    }

    .contenedor-jeans {
        background-color: aqua;
    }

    .productosdestacados {
        justify-content: space-between;
    }

    .productosdestacados article {
        width: 23%;
        margin: 5px;
    }

    .productos {
        width: 23%;
    }

    main {
        margin-top: 126px;
    }

    .banner {
        width: 100%;
    }

    .Imagen-Zaphir {
        height: 100%;
        width: 100%;
        object-fit: cover;
        object-position: center;
    }

    .productos {
        height: auto;
    }

    .contenedor { 
        width: 100%;
        height: 100%;
        overflow: hidden;
    }

    .productos img {
        height: 100%;
        transition: 450ms;
        object-fit: cover;
    }
    
    .productos img:hover {
        transform: scale(1.2);
    }

    .jeans, .remeras, .buzos, .camperas, .pantalones {
        padding: 0;
        border: none;
    }
}