<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Macondo&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/header-mobile.css">
    <link rel="stylesheet" href="/css/header-tablets.css">
    <link rel="stylesheet" href="/css/header-desktop.css">
    <title>Zaphir</title>
</head>
<body>
    <header>
        <section class="header-bars">
            <a href="#"><i class="fa-solid fa-bars"></i></a>
        </section>
        <figure class="header-logo">
            <a href="/"><img src="/assets/Logo_Zaphir.png" alt="Logo Zaphir"></a>
        </figure>
        <section class="header-form">
            <form action="#" method="get">
                <fieldset>
                    <input type="text" name="search" id="search" placeholder="¿Qué estás buscando?" required>
                    <button><i class="fa-solid fa-magnifying-glass lupa"></i></button>
                </fieldset>
            </form>
        </section>
        <section class="header-icon">
            <nav>
                <a href="#"><i class="fa-regular fa-user user"></i></a>
                <a href="#"><i class="fa-regular fa-heart heart"></i></a>
                <a href="#"><i class="fa-solid fa-bag-shopping"></i></a>
            </nav>
        </section>
        <section class="header-bottom">
            <ul>
                <li><a href="/">INICIO</a></li>
                <li><a href="#">PRENDAS</a>
                    <ul>
                        <li><a href="#">REMERAS</a></li>
                        <li><a href="#">BUZOS</a></li>
                        <li><a href="#">CAMPERAS</a></li>
                        <li><a href="#">CHALECOS</a></li>
                        <li><a href="#">VESTIDOS</a></li>
                        <li><a href="#">POLERAS</a></li>
                        <li><a href="#">BODYS</a></li>
                        <li><a href="#">TOPS</a></li>
                        <li><a href="#">SWEATERS</a></li>
                        <li><a href="#">JEANS</a></li>
                        <li><a href="#">BABUCHAS</a></li>
                        <li><a href="#">CARGOS</a></li>
                    </ul>
                </li>
                <li><a href="#">SALE</a></li>
                <li><a href="#">AYUDA</a></li>
            </ul>
        </section>
    </header>
</body>
</html>