<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/assets/LogoZP.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Macondo&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/header-mobile.css">
    <link rel="stylesheet" href="/css/header-tablets.css">
    <link rel="stylesheet" href="/css/header-desktop.css">
    <link rel = "stylesheet" href = "/css/home-mobile.css">
    <link rel = "stylesheet" href= "/css/home-tablets.css"> 
    <link rel = "stylesheet" href = "/css/home-desktop.css">
    <link rel = "stylesheet" href="/css/footer-mobile.css">
    <link rel = "stylesheet" href="/css/footer-deskop.css">
    <link rel = "stylesheet" href="/css/footer-tablets.css">
    <title>Zaphir</title>
</head>
<body>
    <header>
        <section class="header-bars">
            <a href="#menu-1"><i class="fa-solid fa-bars"></i></a>
        </section>
        <figure class="header-logo">
            <a href="/"><img src="/assets/Logo_Zaphir.png" alt="Logo Zaphir"></a>
        </figure>
        <section class="header-form">
            <form action="#" method="get">
                <fieldset>
                    <input type="text" name="search" id="search" placeholder="¿Qué estás buscando?" required>
                    <button><i class="fa-solid fa-magnifying-glass lupa"></i></button>
                </fieldset>
            </form>
        </section>
        <section class="header-icon">
            <nav>
                <a href="/ingresar"><i class="fa-regular fa-user user"></i></a>
                <a href="#"><i class="fa-regular fa-heart heart"></i></a>
                <a href="/carrito"><i class="fa-solid fa-bag-shopping"></i></a>
            </nav>
        </section>
        <section class="header-bottom">
                <nav class="navbar-main">
                    <a href="/">INICIO</a>
                    <a href="#menu-1">PRENDAS</a>
                    <a href="/">SALE</a>
                    <a href="/">AYUDA</a>
                </nav>
                <nav id="menu-1">
                        <a  class="x-menu" href="#"><i class="fa-solid fa-x"></i></a>
                        <a href="/productos">REMERAS</a>
                        <a href="/productos">BUZOS</a>
                        <a href="/productos">CAMPERAS</a>
                        <a href="/productos">VESTIDOS</a>
                        <a href="/productos">BODIS</a>
                        <a href="/productos">JEANS</a>
                    <section class="menu-bottom">
                        <a href="/registro"><i class="fa-regular fa-user user"></i>Crear cuenta</a>
                        <a href="/login">Iniciar sesión</a>
                    </section>
                    </nav>
        </section>
    </header>
    <figure class="banner">
        <img class = "Imagen-Zaphir" src = "/assets/productos/imagen1.jpg" alt = "imagen">
    </figure>
    <section class="banner-bottom">
        <section>
            <p class="p-title"><i class="fa-solid fa-truck"></i>Envíos gratis</p>
            <p>A partir de compras superiores a $ 2.500</p>
        </section>
        <section>
            <p class="p-title"><i class="fa-solid fa-credit-card"></i>3 y 6 cuotas sin interés</p>
            <p>Pagando con tarjetas de débito y crédito bancarias</p>
        </section>
        <section>
            <p class="p-title"><i class="fa-solid fa-box"></i>Envios a toda a todo el país</p>
            <p>Hacé tu pedido desde cualquier parte de Argentina</p>
        </section>
    </section>
        <main>
            <h2 class = "titulo">PRODUCTOS DESTACADOS</h2>
            <section class = "productosdestacados">
                <article>
                    <a href="/detalle"><img src="/assets/productos/malibu-main.png" alt="campera" class = "imagenDest"></a>
                    <p class = "nombreProducto">Campera Malibu De Rustico</p>
                    <p class = "precio">$7.499</p>
                </article>
                <article>
                    <a href="/detalle"><img src="/assets/productos/camperazaphir.jpg" alt="campera" class = "imagenDest"></a>
                    <p class = "nombreProducto">Campera Puffer Negra</p>
                    <p class = "precio">$9.500</p>
                </article>
                <article>
                    <a href="/detalle"><img src="/assets/productos/vestido-gemma.jpg" alt="vestido-gemma" class = "imagenDest"></a>
                    <p class = "nombreProducto">Vestido Gemma</p>
                    <p class = "precio">$6.500</p>
                </article>
                <article>
                    <a href="/detalle"><img src="/assets/productos/buzo1.png" alt="Buzo" class = "imagenDest"></a>
                    <p class = "nombreProducto">Buzo Oversize</p>
                    <p class = "precio">$6.200</p>
                </article>
            </section>
            <section class = "secciones">
                    <h2 class="section-categorias">Categorías</h2>
                <article class = "productos">
                    <section class="contenedor">
                        <a href="/productos"><img src="/assets/productos/JEANS.jpg" alt="Jeans" class = "jeans"></a>
                        <p class = "JeansPalabra">JEANS</p>
                    </section>
                </article>
                <article class = "productos">
                    <section class="contenedor">
                        <a href="/productos"><img src="/assets/productos/Remeras.jpg" alt="Remeras" class = "remeras"></a>
                        <p class = "remeraspalabra">REMERAS</p>
                    </section>
                </article>
                <article class = "productos">
                    <section class="contenedor">
                        <a href="/productos"><img src="/assets/productos/buzo2.png" alt="Buzos" class = "buzos"></a>
                        <p class = "buzosPalabra">BUZOS</p>
                    </section>
                </article>
                <article class = "productos">
                    <section class="contenedor">
                        <a href="/productos"><img src="/assets/productos/Camperas.jpg" alt="Camperas" class = "camperas"></a>
                        <p class = "camperasPalabra">CAMPERAS</p>
                    </section>
                </article>    
                <article class = "productos"> 
                    <section class="contenedor">
                        <a href="/productos"><img src="/assets/productos/BODIES.jpg" alt="Bodies" class = "bodies"></a>
                        <p class = "bodiesPalabra">BODIES</p>
                     </section>
                </article>
            </section>
    </main>
    <footer>
        <section class="contenedor1">
            <h4>Categorías</h4>
            <a href="/">INICIO</a>
            <a href="/productos">PRENDAS</a>
            <a href="#">SALE</a>
            <a href="#">AYUDA</a>
        </section>
        <section class="contenedor2">
            <h4>Contactános</h4>
            <a href="#"><i class="fa-brands fa-whatsapp-square whatsapp"></i>3816337838</a>
            <a href="#"><i class="fa-solid fa-square-envelope email"></i>zaphirargentina@gmail.com</a>
        </section>
        <section class="contenedor3">
            <h4>Encontrános en</h4>
            <section>
                <a href="#"><i class="fa-brands fa-facebook-square"></i></a>
                <a href="#"><i class="fa-brands fa-instagram-square"></i></a>
                <a href="#"><i class="fa-brands fa-twitter-square"></i><a>
            </section>
        </section>
        <figure>
            <img src="/assets/Logo_Zaphir.png" alt="Logo Zaphir">
        </figure>
    </footer>
</body>
</html>