<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/assets/LogoZP.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Macondo&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/header-mobile.css">
    <link rel="stylesheet" href="/css/header-tablets.css">
    <link rel="stylesheet" href="/css/header-desktop.css">
    <link rel="stylesheet" href="/css/footer-mobile.css">
    <link rel="stylesheet" href="/css/footer-tablets.css">
    <link rel="stylesheet" href="/css/footer-desktop.css">
    <link rel="stylesheet" href="/css/register-mobile.css">
    <link rel="stylesheet" href="/css/register-tablets.css">
    <link rel="stylesheet" href="/css/register-desktop.css">
    <title>Document</title>
</head>
<body>
    <header>
        <section class="header-bars">
            <a href="#menu-1"><i class="fa-solid fa-bars"></i></a>
        </section>
        <figure class="header-logo">
            <a href="/"><img src="/assets/Logo_Zaphir.png" alt="Logo Zaphir"></a>
        </figure>
        <section class="header-form">
            <form action="#" method="get">
                <fieldset>
                    <input type="text" name="search" id="search" placeholder="¿Qué estás buscando?" required>
                    <button><i class="fa-solid fa-magnifying-glass lupa"></i></button>
                </fieldset>
            </form>
        </section>
        <section class="header-icon">
            <nav>
                <a href="/ingresar"><i class="fa-regular fa-user user"></i></a>
                <a href="#"><i class="fa-regular fa-heart heart"></i></a>
                <a href="/carrito"><i class="fa-solid fa-bag-shopping"></i></a>
            </nav>
        </section>
        <section class="header-bottom">
                <nav class="navbar-main">
                    <a href="/">INICIO</a>
                    <a href="#menu-1">PRENDAS</a>
                    <a href="/">SALE</a>
                    <a href="/">AYUDA</a>
                </nav>
                <nav id="menu-1">
                        <a  class="x-menu" href="#"><i class="fa-solid fa-x"></i></a>
                        <a href="/productos">REMERAS</a>
                        <a href="/productos">BUZOS</a>
                        <a href="/productos">CAMPERAS</a>
                        <a href="/productos">VESTIDOS</a>
                        <a href="/productos">BODIS</a>
                        <a href="/productos">JEANS</a>
                        <a href="/productos">BABUCHAS</a>
                    <section class="menu-bottom">
                        <a href="/registro"><i class="fa-regular fa-user user"></i>Crear cuenta</a>
                        <a href="/login">Iniciar sesión</a>
                    </section>
                    </nav>
        </section>
    </header>
    <main>
        <section class="section-register">
            <h1>Crear cuenta</h1>
            <p>¡Comprá en Zaphir y llevá el control de tus pedidos en un solo lugar!</p>
        </section>
        <form action="/registro" method="post">
            <fieldset class="form-name">
                <label>Nombre y apellido</label>
                <input type="text" name="nombre" id="nombre" placeholder="ej: Juan Perez" required>
            </fieldset>
            <fieldset class="form-email">
                <label>E-mail</label>
                <input type="email" name="email" id="email" placeholder="ej: tunombre@email.com" required>
            </fieldset>
            <fieldset class="form-tel">
                <label>Teléfono (opcional)</label>
                <input type="tel" name="tel" id="tel" placeholder="ej: 1123445567">
            </fieldset>
            <fieldset class="form-password">
                <label>Contraseña</label>
                <input type="password" name="password" id="password" required>
            </fieldset>
            <fieldset class="form-confirm">
                <label>Confirmar contraseña</label>
                <input type="password" name="password" id="confirm-password" required>
            </fieldset>
            <fieldset class="form-button">
                <button>Crear cuenta</button>
            </fieldset>
            <fieldset class="form-linklogin">
                <a href="/ingresar">¿Ya tenés una cuenta?<span>Iniciá sesión</span></a>
            </fieldset>
        </form>
    </main>
    <footer>
        <section class="contenedor1">
            <h4>Categorías</h4>
            <a href="/">INICIO</a>
            <a href="/productos">PRENDAS</a>
            <a href="#">SALE</a>
            <a href="#">AYUDA</a>
        </section>
        <section class="contenedor2">
            <h4>Contactános</h4>
            <a href="#"><i class="fa-brands fa-whatsapp-square whatsapp"></i>3816337838</a>
            <a href="#"><i class="fa-solid fa-square-envelope email"></i>zaphirargentina@gmail.com</a>
        </section>
        <section class="contenedor3">
            <h4>Encontrános en</h4>
            <section>
                <a href="#"><i class="fa-brands fa-facebook-square"></i></a>
                <a href="#"><i class="fa-brands fa-instagram-square"></i></a>
                <a href="#"><i class="fa-brands fa-twitter-square"></i><a>
            </section>
        </section>
        <figure>
            <img src="/assets/Logo_Zaphir.png" alt="Logo Zaphir">
        </figure>
    </footer>
</body>
</html>