@media screen and (min-width: 768px) and (max-width:1203px) {
    .login {

        text-align: center;
    }

    main {
        max-width: 580px;
        margin-top: 100px;
        padding: 10px;
        font-family: 'Montserrat', sans-serif;
    }
}