* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    margin-top: 140px;
}

main {
    padding: 10px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

fieldset {
    border: none;
    display: flex;
    flex-direction: column;
    width: 100%;
}

label {
    margin: 10px 0 10px;
    font-weight: 600;
}

.input {
    margin-bottom: 10px;
    padding: 10px 12px;
    border-color: 1px solid #909090;
    outline: none;
}

.select {
    margin-bottom: 10px;
    padding: 10px 12px;
    border-color: 1px solid #909090;
}

.imput-imagen {
    width: 100%;
}

textarea {
    resize: none;
    min-height: 80px;
    max-height: 80px;
    width: 100%;
    padding: 10px 12px;
    outline: none;
}

.button-crear {
    height: 40px;
    background-color: #909090;
    border: none;
    color: #FFFFFF;
    font-weight: 600;
    width: 100%;
    margin-bottom: 10px;
    margin-top: 10px;
    cursor: pointer;
}

.button-crear:hover {
    background-color: #515151;
}

.a-wts {
    position: fixed;
    right: 30px;
    bottom: 30px;
    border-radius: 100%;
}

.a-wts img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    padding: 5px;
    background-color: #1bd741
}

.feed {
    margin-top: .7rem;
    text-align: center;
    display: none;
}

.feed.invalid {
    display: block;
    color: red;
}

.feed.valid {
    display: block;
    color: #0d9829
}

.feedSale {
    margin-top: .7rem;
    text-align: center;
    display: none;
}

.feedSale.invalid {
    display: block;
    color: red;
}

.feedSale.valid {
    display: block;
    color: #0d9829
}

@media screen and (min-width: 580px) {
    main {
        margin: auto;
        max-width: 580px;
        margin-bottom: 50px;
    }
}