* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    margin-top: 126px;
    padding: 10px;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 80px;
}

.tituloFav{
    margin-top: 20px;
    margin-bottom: 15px;
    text-align: center;
}

.section-principal {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr 2fr;
}

.section-principal article {
    border-bottom: 1px solid #909090;
    padding: 5px;
    margin: 5px 5px 10px
}

.section-principal article figure img{
    width: 100%;
}

.article-precio {
    margin-top: 5px;
    text-align: center;
    font-weight: 600;
}

.article-p {
    text-align: center;
}

.a-wts {
    position: fixed;
    right: 30px;
    bottom: 30px;
    border-radius: 100%;
    z-index: 10;
}

.a-wts img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    padding: 5px;
    background-color: #1bd741
}

@media screen and (min-width: 520px) {
    .section-secundaria article {
        width: 48%;
    }
}