@media (min-width: 1024px) {
    .section-secundaria article {
        width: 24%;
    }

    .section-secundaria {
        width: 80%;
    }

    .section-left {
        width: 20%;
    }

    .precio {
        width: 60%;
    }

    main {
        max-width: 1024px;
    }

    body {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    footer {
        width: 100%;
    }
}