@media screen and (min-width: 768px){
    .section-nav{
        display: none;
    }
    .section-left{
        padding-top: 30px;
        padding-left: 10px;
        display: flex;
        flex-direction: column;
        width: 20%;
    }
    .section-top{
        justify-content: end;
    }
    .section-secundaria article{
        width: 31%;
    }
    .section-secundaria{
        width: 80%;
        display: flex;
        align-items: flex-start; /* solucionado  */
    }
    .section-principal{
        display: flex;
        flex-wrap: wrap;
    }
    .section-left p{
        font-weight: 600;
        margin-bottom: 10px;
    }
    .section-left div{
        display: flex;
        align-items: center;
        margin-bottom: 10px;
    }
    .section-left div input{
        margin-right: 8px;
        width: 20px;
        height: 20px;
    }
    .color p{
        margin-top: 20px;
    }
    .precio p{
        margin-top: 20px;
    }
    .precio{
        width: 70%;
    }
    .precio input{
        width: 100%;
    }
    .range{
        width: 80%;
    }
    .boton-filtrar{
        margin-top: 10px;
        width: 60px;
        border: 1px solid #909090;
        height: 30px;
        font-family: 'Montserrat', sans-serif;
        border-radius: 2px;
        padding: 5px 10px;
    }
}