@media (min-width: 64em) {
    .prod-cont {
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr 1fr;
        column-gap: 1rem;
    }

    .div-cont-prod {
        width: 100%;
    }

    .main {
        margin-left: 120px;
    }
}