@media screen and (min-width: 48em) {
    .prod-cont {
        margin: auto;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: start;
        max-width: 840px;
    }
}