.main-user {
    display: flex;
    justify-content: center;
    padding-top: 1.5rem;
}

.cont-user {
    width: 90%;
    border: 2px solid #787777;
    border-radius: 1rem;
    padding: .5rem 1rem 1rem;
    margin-bottom: 1rem;
    max-width: 420px;
}

.avatar-user {
    width: 100%;
    height: 100%;
    margin-top: 1rem;
    border: 1px solid #909090;
    border-radius: 1rem;
    padding: .5rem;
}


.p-user-name {
    font-weight: 600;
}

.p-user {
    font-weight: 600;
    margin-top: 1rem;
}