<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/assets/LogoZP.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Macondo&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/header-mobile.css">
    <link rel="stylesheet" href="/css/header-tablets.css">
    <link rel="stylesheet" href="/css/header-desktop.css">
    <link rel="stylesheet" href="/css/products/detalle-mobile.css">
    <link rel="stylesheet" href="/css/products/detalle-tablets.css">
    <link rel="stylesheet" href="/css/products/detalle-desktop.css">
    <link rel="stylesheet" href="/css/footer-mobile.css">
    <link rel="stylesheet" href="/css/footer-tablets.css">
    <link rel="stylesheet" href="/css/footer-desktop.css">
    <title>Zaphir</title>
</head>
<body>
    <header>
        <section class="header-bars">
            <a href="#menu-1"><i class="fa-solid fa-bars"></i></a>
        </section>
        <figure class="header-logo">
            <a href="/"><img src="/assets/Logo_Zaphir.png" alt="Logo Zaphir"></a>
        </figure>
        <section class="header-form">
            <form action="#" method="get">
                <fieldset>
                    <input type="text" name="search" id="search" placeholder="¿Qué estás buscando?" required>
                    <button><i class="fa-solid fa-magnifying-glass lupa"></i></button>
                </fieldset>
            </form>
        </section>
        <section class="header-icon">
            <nav>
                <a href="/ingresar"><i class="fa-regular fa-user user"></i></a>
                <a href="#"><i class="fa-regular fa-heart heart"></i></a>
                <a href="/carrito"><i class="fa-solid fa-bag-shopping"></i></a>
            </nav>
        </section>
        <section class="header-bottom">
                <nav class="navbar-main">
                    <a href="/">INICIO</a>
                    <a href="#menu-1">PRENDAS</a>
                    <a href="/">SALE</a>
                    <a href="/">AYUDA</a>
                </nav>
                <nav id="menu-1">
                        <a  class="x-menu" href="#"><i class="fa-solid fa-x"></i></a>
                        <a href="/productos">REMERAS</a>
                        <a href="/productos">BUZOS</a>
                        <a href="/productos">CAMPERAS</a>
                        <a href="/productos">VESTIDOS</a>
                        <a href="/productos">BODIS</a>
                        <a href="/productos">JEANS</a>
                    <section class="menu-bottom">
                        <a href="/registro"><i class="fa-regular fa-user user"></i>Crear cuenta</a>
                        <a href="/login">Iniciar sesión</a>
                    </section>
                    </nav>
        </section>
    </header>
    <main>
       <section class="imagenes-pequeñas">
            <figure>
                <img src="/assets/productos/campera-malibu3.jpg" alt="Campera Malibu">
            </figure>
            <figure>
                <img src="/assets/productos/campera-malibu1.jpg" alt="Campera Malibu">
            </figure>
            <figure>
                <img src="/assets/productos/campera-malibu4.png" alt="Campera Malibu">
            </figure>
            <section class="section-descripcion1">
                <section class="descripcion1">
                    <p class="detalle-titulo">Descripción</p>
                    <p class="detalle">Campera basica de rustico esmerilado. Bolsillo canguro. Cierre metalico al tono de la base. Cordon al tono de la base. Largo por debajo de la cadera. Estampa en delantero ubicación logo y centrada en espalda.</p>
                </section>
            </section>
        </section>
       <section class="descripcion">
            <p class="detalle-titulo">Descripción</p>
            <p class="detalle">Campera basica de rustico esmerilado. Bolsillo canguro. Cierre metalico al tono de la base. Cordon al tono de la base. Largo por debajo de la cadera. Estampa en delantero ubicación logo y centrada en espalda.</p>
       </section>
       <section class="img-principal">
            <figure>
                <img src="/assets/productos/malibu-main.png" alt="Campera Malibu">
            </figure>
       </section>
       <section class="section-right">
            <section class="info">
                    <h2>Campera Malibu De Rústico</h2><span class="corazon"><a href="#"><i class="fa-solid fa-heart heart2"></i></a></span>
                    <span class="precio">$ 7.499</span>
                    <span class="precio1">$ 9.999</span><span class="descuento">25% OFF</span>
            </section>
            <form action="/carrito" method="get" id="agregar-compra">
                <fieldset class="colores">
                    <p>Color</p>
                    <input type="radio" name="color" id="beige">
                    <label for="beige"><img src="/assets/colores/beige.jpg" alt=""></label>
                    <input type="radio" name="color" id="blanco">
                    <label for="blanco"><img src="/assets/colores/blanco.jpg" alt=""></label>
                    <input type="radio" name="color" id="negro">
                    <label for="negro"><img src="/assets/colores/negro.jpg" alt=""></label>
                </fieldset>
                <fieldset class="talles">
                    <p>Talles</p>
                    <input type="radio" name="talle" id="xs">
                    <label for="xs" class="label-talle">XS</label>
                    <input type="radio" name="talle" id="s">
                    <label for="s">S</label>
                    <input type="radio" name="talle" id="m">
                    <label for="m">M</label>
                    <input type="radio" name="talle" id="l">
                    <label for="l">L</label>
                    <input type="radio" name="talle" id="xl">
                    <label for="xl">XL</label>
                </fieldset>
                <fieldset class="quantity">
                        <p>Cantidad</p>
                         <select name="cantidad" id="cantidad">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                         </select>
                </fieldset>
                <fieldset class="form-boton">
                    <button>
                        AGREGAR AL CARRITO
                    </button>
                </fieldset>
            </form>
    </main>
    <footer>
        <section class="contenedor1">
            <h4>Categorías</h4>
            <a href="/">INICIO</a>
            <a href="/productos">PRENDAS</a>
            <a href="#">SALE</a>
            <a href="#">AYUDA</a>
        </section>
        <section class="contenedor2">
            <h4>Contactános</h4>
            <a href="#"><i class="fa-brands fa-whatsapp-square whatsapp"></i>3816337838</a>
            <a href="#"><i class="fa-solid fa-square-envelope email"></i>zaphirargentina@gmail.com</a>
        </section>
        <section class="contenedor3">
            <h4>Encontrános en</h4>
            <section>
                <a href="#"><i class="fa-brands fa-facebook-square"></i></a>
                <a href="#"><i class="fa-brands fa-instagram-square"></i></a>
                <a href="#"><i class="fa-brands fa-twitter-square"></i><a>
            </section>
        </section>
        <figure>
            <img src="/assets/Logo_Zaphir.png" alt="Logo Zaphir">
        </figure>
    </footer>
</body>
</html>