<footer>
    <section class="contenedor1">
        <h4>Categorías</h4>
        <a href="/">INICIO</a>
        <a href="/productos">PRENDAS</a>
        <a href="/productos/ofertas">SALE</a>
        <a href="#">AYUDA</a>
    </section>
    <section class="contenedor2">
        <h4>Contactános</h4>
        <a href="#"><i class="fa-brands fa-whatsapp-square whatsapp"></i>3816337838</a>
        <a href="#"><i class="fa-solid fa-square-envelope"></i>zaphirargentina@gmail.com</a>
    </section>
    <section class="contenedor3">
        <h4>Encontrános en</h4>
        <section>
            <a href="#"><i class="fa-brands fa-facebook-square"></i></a>
            <a href="#"><i class="fa-brands fa-instagram-square"></i></a>
            <a href="#"><i class="fa-brands fa-twitter-square"></i><a>
        </section>
    </section>
    <figure>
        <img src="/assets/logos/Logo_Zaphir.png" alt="Logo Zaphir">
    </figure>
</footer>