<header>
    <section class="header-bars">
        <a href="#menu-1"><i class="fa-solid fa-bars"></i></a>
    </section>
    <figure class="header-logo">
        <a href="/"><img src="/assets/logos/Logo_Zaphir.png" alt="Logo Zaphir"></a>
    </figure>
    <section class="header-form">
        <form action="/" method="get">
            <fieldset>
                <input type="text" name="name" id="name" placeholder="¿Qué estás buscando?" required>
                <button><i class="fa-solid fa-magnifying-glass lupa"></i></button>
            </fieldset>
        </form>
    </section>
    <section class="header-icon">
        <nav>
            <a href="/productos/crear"><i class="fa-solid fa-circle-plus"></i></a>
            <a href="/usuario/ingresar"><i class="fa-regular fa-user user"></i></a>
            <a href="/productos/carrito"><i class="fa-regular fa-heart heart"></i></a>
            <a href="/productos/carrito"><i class="fa-solid fa-bag-shopping"></i></a>
        </nav>
    </section>
    <section class="header-bottom">
            <nav class="navbar-main">
                <a href="/">INICIO</a>
                <a href="#menu-1">PRENDAS</a>
                <a href="/">SALE</a>
                <a href="/">AYUDA</a>
            </nav>
            <nav id="menu-1">
                    <a  class="x-menu" href="#"><i class="fa-solid fa-x"></i></a>
                    <a href="/">INICIO</a>
                    <a href="/productos">REMERAS</a>
                    <a href="/productos">BUZOS</a>
                    <a href="/productos">CAMPERAS</a>
                    <a href="/productos">VESTIDOS</a>
                    <a href="/productos">BODIS</a>
                    <a href="/productos">JEANS</a>
                <section class="menu-bottom">
                    <a href="/usuario/registro"><i class="fa-regular fa-user user"></i>Crear cuenta</a>
                    <a href="/usuario/ingresar">Iniciar sesión</a>
                </section>
                </nav>
    </section>
</header>