<header>
    <section class="header-bars">
        <a href="#menu-1"><i class="fa-solid fa-bars"></i></a>
    </section>
    <figure class="header-logo">
        <a href="/"><img src="/assets/logos/Logo_Zaphir.png" alt="Logo Zaphir"></a>
    </figure>
    <section class="header-form">
        <form action="/productos/" method="get">
            <fieldset>
                <input type="text" name="name" id="name" placeholder="¿Qué estás buscando?">
                <button><i class="fa-solid fa-magnifying-glass lupa"></i></button>
            </fieldset>
        </form>
    </section>
    <section class="header-icon">
        <% if (!user) { %>
            <nav>
                <a href="/usuario/ingresar"><i class="fa-regular fa-user user"></i></a>
            </nav>
            <% } else if (user && user.isAdmin) { %>
                <nav>
                    <a class="aPerfil" href="/usuario/perfil"><img class="imgUser" src="/avatars/<%= user.image.imagen %>"
                            alt=""></a>
                    <a href="/productos/crear"><i class="fa-solid fa-circle-plus"></i></a>
                    <a href="/productos/favoritos"><i class="fa-regular fa-heart heart"></i></a>
                    <a class="salirIcon" href="/usuario/logout"><i class="fa-solid fa-right-from-bracket"></i></a>
                </nav>
                <% } else { %>
                    <nav>
                        <a class="aPerfil" href="/usuario/perfil"><img class="imgUser" src="/avatars/<%= user.image.imagen %>"
                                alt=""></a>
                        <a href="/productos/favoritos"><i class="fa-regular fa-heart heart"></i></a>
                        <a href="/productos/carrito"><i class="fa-solid fa-bag-shopping"></i></a>
                        <a class="salirIcon" href="/usuario/logout"><i class="fa-solid fa-right-from-bracket"></i></a>
                    </nav>
                    <% } %>
    </section>
    <section class="header-bottom">
        <% if (user && user.isAdmin) { %>
            <nav class="navbar-main">
                <a href="/productos/vistas">PRODUCTOS</a> 
                <a href="/">INICIO</a>
                <a href="#menu-1">PRENDAS</a>
                <a href="/productos/ofertas">SALE</a>
                <a href="/">AYUDA</a>
            </nav>
            <% } else { %>
                <nav class="navbar-main">
                    <a href="/">INICIO</a>
                    <a href="#menu-1">PRENDAS</a>
                    <a href="/productos/ofertas">SALE</a>
                    <a href="/">AYUDA</a>
                </nav>
                <% } %>
                    <nav id="menu-1">
                        <a class="x-menu" href="#"><i class="fa-solid fa-x"></i></a>
                        <a href="/">INICIO</a>
                        <a href="/productos/remeras">REMERAS</a>
                        <a href="/productos/buzos">BUZOS</a>
                        <a href="/productos/camperas">CAMPERAS</a>
                        <a href="/productos/vestidos">VESTIDOS</a>
                        <a href="/productos/pantalones">PANTALONES</a>
                        <a href="/productos/jeans">JEANS</a>
                        <section class="menu-bottom">
                            <% if (!user) { %>
                                <a href="/usuario/registro"><i class="fa-regular fa-user user"></i>Crear
                                    cuenta</a>
                                <a href="/usuario/ingresar">Iniciar sesión</a>
                                <% } else if (user) { %>
                                    <a href="/usuario/logout">Salir <i id="iconBottom" class="fa-solid fa-right-from-bracket"></i></a>
                                    <% } %>

                        </section>
                    </nav>
    </section>
</header>